body {
    align-content: center;  
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
}

button{
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    height: 80px;
    width: 98px;
}

button:hover{
    transform: scale(1,1.02);
}

#calculator{
    background-color: rgb(22, 22, 22);
    border: 10px solid  rgb(74, 74, 74);   
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(4, 80px);
    margin-top: 100px;
}

#displayPad{
    align-items: flex-end;
    background-color: black;
    color: yellow;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    grid-column: 1/-1;
    justify-content: space-around;
    margin: 5px;
}

.equalsButton{
    grid-column: span 2;
    width: 201px;
}

.backspaceButton{
    grid-column: span 2;
    width: 200px;
}

